<div class="bg">
  <div class="bg-trans p-5">
    <div class="d-flex justify-content-center align-items-center">
      <h1 class="font-regular text-white text-center mt-5 w-50 fw-b">
        <span class="one">Welcome to </span><br /><span class="two"
          >Common Law Chambers</span
        >
      </h1>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <h5 class="font-regular w-50 text-center info mb-4 mt-3">
        CLC offers professional legal services to individuals, business
        organisations, commercial entities, statutory corporations and foreign
        companies in both contentious matters and non-contentious
      </h5>
    </div>
    <div class="buttons d-flex justify-content-center align-items-center">
      <button class="Montserrat-bold text-uppercase">contact us</button>
      <button class="Montserrat-bold text-uppercase">services</button>
    </div>
  </div>
</div>

