
<div class="bg-header">
  <div class="footer-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column mb-3 me-3">
        <div class="text-white font-regular fs-1 p-2">
          Don't hesitate to contact us any time
        </div>
        <div class="text-white font-regular fs-5 p-2">
          Whether you’re looking for professional advice or would like to
          discuss a problem, feel free to contact us and we’ll do our best in
          helping you resolve your issues.
        </div>
      </div>
      <div>
        <button class="Montserrat-bolder text-uppercase">contact</button>
      </div>
    </div>
  </div>
</div>
<div class="bg">
  <div class="footer d-flex flex-wrap justify-content-between align-items-start">
    <div class="footer-section d-flex flex-column mb-3 me-5">
      <div class="p-2">
        <img [src]="logo" alt="Logo" class="footer-logo"/>
      </div>
      <div class="p-2 fs-4 Montserrat-bold">+92 (42) 35466591</div>
      <div class="p-1 Montserrat-bold fw-b">
        <a class="text-decoration-none text-dark" href="mailto:info@commonlawchambers.com.pk">
          infocommonlawchambers.com.pk
        </a>
      </div>
      <div class="p-1 Montserrat-normal fw-b">
        526, Shadman Colony 1 Jail <br />
        Lahore 54000 PAKISTAN
      </div>
      <div class="p-1 Montserrat-normal fw-b">
        <div class="social-icons">
          <a href="https://facebook.com" target="_blank" class="me-3 text-dark text-decoration-none fs-3">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://twitter.com" target="_blank" class="me-3 text-dark text-decoration-none fs-3">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://instagram.com" target="_blank" class="me-3 text-dark text-decoration-none fs-3">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-section d-flex flex-column mb-3 me-5">
      <div class="p-2 font-regular fs-1">Links</div>
      <hr class="footer-hr" />
      <div class="p-2"><a class="font-normal text-decoration-none text-dark" href="">The Firm</a></div>
      <div class="p-2"><a class="font-normal text-decoration-none text-dark" href="">Capabilities</a></div>
      <div class="p-2"><a class="font-normal text-decoration-none text-dark" href="">Lawyers</a></div>
      <div class="p-2"><a class="font-normal text-decoration-none text-dark" href="">Practice Areas</a></div>
      <div class="p-2"><a class="font-normal text-decoration-none text-dark" href="">Contact Us</a></div>
    </div>
    <div class="footer-section d-flex flex-column mb-3 me-5">
      <div class="p-2 font-regular fs-1">About Us</div>
      <hr class="footer-hr" />
      <div class="p-2">
        Coming together is the beginning! Staying together is progress! Working together is success! Common Law Chambers (Rgd.) is a lean and well-structured law firm providing all legal services under one roof.
      </div>
    </div>
    <div class="footer-section d-flex flex-column mb-3 me-5">
      <div class="p-2 font-regular fs-1">Our Newsletter</div>
      <hr class="footer-hr" />
      <div class="p-2">
        <div class="mb-3">
          <label for="newsletterEmail" class="form-label">
            Please provide your details below to signup for our periodic Newsletter.
          </label>
          <input
            type="email"
            class="form-control"
            id="newsletterEmail"
            placeholder="Enter your email"
            style="border: solid 2px"
          />
        </div>
      </div>
    </div>
  </div>
</div>
