.bg {
  background-color: white;
}

.footer-header {
  padding: 5rem;
  margin-right: 10rem;
  margin-left: 10rem;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

.bg-header {
  background-color: #0262b0;
}

/* From Uiverse.io by cssbuttons-io */
button {
  --color: white;
  font-family: inherit;
  background-color: #0262b0;
  display: inline-block;
  width: 10em;
  height: 3.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #0262b0;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #3a0ca3;
  transition: background 0s;
}


.input {
  border: solid 3rem;
}

.bg {
  background-color: white;
  padding: 2rem;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
  gap: 2rem;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-logo {
  max-width: 150px;
  height: auto;
}

.footer-hr {
  border: 3px solid #b89b5e;
  width: 50px;
  margin: 0 0 1rem 0.8rem;
}

.social-icons a {
  display: inline-block;
  margin-right: 1rem;
}

@media (max-width: 992px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-section {
    margin-bottom: 2rem;
  }

  .footer-logo {
    max-width: 120px;
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 2rem 1rem;
  }

  .footer-section {
    margin-bottom: 1.5rem;
  }

  .footer-logo {
    max-width: 100px;
  }

  .footer-hr {
    width: 40px;
  }

  .bg{
    text-align: center;
  }
}


/* Responsive Styles */
@media (max-width: 768px) {
  .footer-header, .footer {
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 2rem 1rem;
  }

  .footer .d-flex {
    flex-direction: column;
    align-items: center;
  }

  .footer .me-5 {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .footer .p-2 img {
    max-width: 80%;
  }

  .footer .text-center {
    text-align: center;
  }

  button {
    width: 100%;
    padding: 1rem;
  }
}
