<div class="firm d-flex justify-content-between align-items-evenly">
  <div>
    <div class="bg"></div>
  </div>
  <div class="content p-5">
    <h1 class="text-center font-regular pt-5">
      About <br />Common Law Chambers<br />
      <span class="small">Attorneys & Consultants</span>
    </h1>
    <p class="text-center font-normal">
      Common Law Chambers (Rgd.) is a lean and well-structured law firm
      providing all legal services under one roof. In a short span of time its
      highly qualified and experienced legal professionals have received
      accolades and recognition in legal industry and at various international
      law forums.
    </p>
  </div>
</div>

<div class="description">
  <div class="heading-bg fade-in">
    <div class="heading">
      <h1 class="py-5 font-regular text-white text-center animate__fadeInLeftBig">
        Brief Profile of Common Law Chambers
      </h1>
    </div>
  </div>
</div>

<div class="section p-5">
  <div *ngFor="let index of about" class="d-flex text-center overview justify-content-between align-items-center mb-5">
    <div class="width about-heading">
      <h1 class="about-h font-regular fs-1">{{ index.heading }}</h1>
    </div>
    <div class="width">
      <p class="text-left font-normal">{{ index.content }}</p>
    </div>
  </div>
</div>
