<div class="description">
  <div class="heading-bg">
    <div class="heading">
      <h1 class="py-5 font-regular text-white text-center">
        Best Attorneys & Consultants
      </h1>
    </div>
  </div>
</div>
<div
  class="font-regular d-flex flex-column justify-content-center align-items-center mb-5 p-5"
>
  <div class="bg d-flex-card p-5">
    <article *ngFor="let card of cardList" class="card">
      <img [src]="card.img" alt="{{ card.title }}" class="card-image">
      <div class="card_content">
        <span class="card_title font-bold">{{ card.title }}</span>
        <p class="card_description text-dark">
          {{ card.text }}
        </p>
      </div>
    </article>
  </div>
</div>
