
<div class="bg">
  <div class="font-regular d-flex flex-column justify-content-center align-items-center mb-5">
    <h1 class="w-50 text-center mt-3">Best Attorneys & Consultants</h1>
    <div class="d-flex justify-content-between flex-wrap mt-4">
      <!-- Update the card divs in home-cards.component.html -->
<div class="cardOne">
  <div #card class="card text-center">
    <div class="card-body">
      <i class="fas fa-users fa-3x"></i>
      <h1 class="card-title">We, The PEOPLE</h1>
      <p class="font-regular card-text">
        We are Realistic, Inquisitive and Receptive – Above all, we are down to earth when it comes to serving our clients. We at CLC, are always working for your success.
      </p>
    </div>
  </div>
</div>
<div class="cardTwo">
  <div #card class="card text-center">
    <div class="card-body">
      <i class="fas fa-lightbulb fa-3x"></i>
      <h1 class="card-title">Knowledge Sharing</h1>
      <p class="card-text">
        We share our insight, our approach and experience with our clients to help them realize their goals. Our knowledge, combined with our experience and expertise is what makes us different.
      </p>
    </div>
  </div>
</div>
<div class="cardThree">
  <div #card class="card text-center">
    <div class="card-body">
      <i class="fas fa-cogs fa-3x"></i>
      <h1 class="card-title">Our Methodology</h1>
      <p class="card-text">
        It is all about you; our experience and instincts help us build bespoke offerings and solutions for you. For us, every case and every advice, be it corporate or individual, is equally important.
      </p>
    </div>
  </div>
</div>

    </div>
  </div>
</div>
