<div class="firm d-flex flex-column flex-md-row justify-content-between align-items-center">
  <div class="bg mb-4 mb-md-0"></div>
  <div class="p-5">
    <h1 class="text-center font-regular pt-5">Practice Areas</h1>
    <p class="text-center font-normal">
      Legal practice encompasses many diverse practice settings. Common Law Chambers offers a wide range of legal services, mainly; Tax, Corporate Matters, Financial Affairs, Intellectual Property, Commercial Litigation, Arbitration, and Mediation.
    </p>
  </div>
</div>

<div class="description">
  <div class="heading-bg">
    <div class="heading">
      <h1 class="py-5 font-regular text-white text-center animate__fadeInLeftBig">Service Areas</h1>
    </div>
  </div>
</div>

<div class="content row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 bg-card">
  <div *ngFor="let area of about" class="col">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="font-regular text-center card-title">{{ area.heading }}</h2>
        <p class="card-text text-white text-center">{{ area.content }}</p>
      </div>
    </div>
  </div>
</div>
