/* General styles */
body {
  background: #F4F7FD;
  margin-top: 20px;
}

.card-margin {
  margin-bottom: 1.875rem;
}

.card-news {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
}

/* Card header styles */
.card-header.no-border {
  border: 0;
}

.card-header {
  background: none;
  padding: 0 0.9375rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: 50px;
}

.card-header:first-child {
  border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

/* Widget 49 styles */
.widget-49 .widget-49-title-wrapper {
  display: flex;
  align-items: center;
}

/* Primary date styles */
.widget-49 .widget-49-title-wrapper .widget-49-date-primary,
.widget-49 .widget-49-title-wrapper .widget-49-date-warning,
.widget-49 .widget-49-title-wrapper .widget-49-date-success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

/* Specific styles for each date class */
.widget-49 .widget-49-title-wrapper .widget-49-date-primary {
  background-color: #edf1fc;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day,
.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
  color: #4e73e5;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-warning {
  background-color: #fff4e5;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day,
.widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
  color: #f6c23e;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-success {
  background-color: #e7f7ed;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day,
.widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
  color: #1cc88a;
}

/* General meeting info styles */
.widget-49 .widget-49-meeting-info {
  margin-left: 15px;
}

.widget-49 .widget-49-meeting-points {
  padding: 10px;
}

.widget-49 .widget-49-meeting-item {
  margin-bottom: 5px;
}

.widget-49 .widget-49-meeting-action .btn {
  padding: 5px 10px;
  margin: 10px 0 0;
}

p {
  color: grey;
}

.widget-49-pro-title {
  font-weight: 700;
}

/* Heading background */
.heading-bg {
  background-color: #0262b0;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.heading-bg.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.about-h {
  color: #0262b0;
}


/* Weather Card Styles */
.card {
  width: 100%;
  height: 235px;
  position: relative;
  padding: 25px;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.container {
  width: 250px;
  height: 250px;
  position: absolute;
  right: -35px;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
}

.cloud {
  width: 250px;
}

.front {
  padding-top: 45px;
  margin-left: 25px;
  display: inline;
  position: absolute;
  z-index: 11;
  animation: clouds 8s infinite;
  animation-timing-function: ease-in-out;
}

.back {
  margin-top: -30px;
  margin-left: 150px;
  z-index: 12;
  animation: clouds 12s infinite;
  animation-timing-function: ease-in-out;
}

.right-front {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -25px;
  z-index: 5;
}

.left-front {
  width: 65px;
  height: 65px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-back {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -20px;
  z-index: 5;
}

.left-back {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.sun {
  width: 120px;
  height: 120px;
  background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
}

.sunshine {
  animation: sunshines 2s infinite;
}

@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes clouds {
  0% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(15px);
  }
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start; /* Align items to the start of the cross axis */
}

.card-header span:first-child {
  word-break: break-all;
  font-weight: 800;
  font-size: 15px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.66);
}

.card-header span:last-child {
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.33);
}

.temp {
  position: absolute;
  left: 25px;
  bottom: 12px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: rgba(87, 77, 51, 1);
}

.temp-scale {
  width: 80px;
  height: 36px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 9px;
}

.temp-scale span {
  font-weight: 700;
  font-size: 13px;
  line-height: 134.49%;
  color: rgba(87, 77, 51, 0.66);
}

